# Arkime WISE data source config file
# See also https://arkime.com/wise
#          https://github.com/arkime/arkime/blob/main/release/wise.ini.sample
#

[wiseService]
port=8081
wiseHost=0.0.0.0
excludeDomains=*.bl.barracudabrts.com;*.zen.spamhaus.org;*.in-addr.arpa;*.avts.mcafee.com;*.avqs.mcafee.com;*.bl.barracuda.com;*.lbl8.mailshell.net;*.dnsbl.sorbs.net;*.s.sophosxl.net;*.metric.gstatic.com;*.ip6.arpa
authMode=header
usersElasticsearch=http://opensearch:9200
elasticsearch=http://opensearch:9200
authMode=header
userAuthIps=::,0.0.0.0/0
userNameHeader=x-forwarded-user
webBasePath=/wise/

[user-auto-create]
userName=vals['x-forwarded-user']
enabled=true
webEnabled=true
headerAuthEnabled=true
emailSearch=true
createEnabled=false
removeEnabled=false
packetSearch=true
hideStats=false
hideFiles=false
hidePcap=false
disablePcapDownload=false
roles=['arkimeUser']

[user-role-mappings]
arkimeUser=true
wiseUser=(vals['x-forwarded-roles'] || '').split(',').map(s => s.trim()).includes('arkime_wise_read_access')
wiseAdmin=(vals['x-forwarded-roles'] || '').split(',').map(s => s.trim()).includes('arkime_wise_read_write_access')

[malcolm]
key=enabled
